# Astro Runtime includes the following pre-installed providers packages: https://docs.astronomer.io/astro/runtime-image-architecture#provider-packages
pandas
soda-core-pandas-dask==3.0.37
soda-core-postgres==3.0.37
astronomer-cosmos==1.0.3
dbt-postgres==1.6.0
protobuf==4.21.0
